.idea/*
.idea/Project.xml

src/client/node_modules/*
node_modules/*
src/server/public/*
node_modules

BDD/.DS_Store
/.idea/
BDD/data/
src/client/assets/justificatif/

*.log
server/log/*.json

.nyc_output
coverage
*.lcov
