
<h3 class="ml-1">Présent ({{ userOn.length }})</h3>
<ul class="mb-3">
  <li *ngFor="let user of userOn">
    <!-- if admin -->
    <a routerLink="userDetail/{{ user.userId }}/{{ currentDate }}" *ngIf="adminActive">
      <fa-icon [icon]="faCircle" class="iconOn ml-3"></fa-icon> {{ user.userName }}
    </a>
    <!-- if not admin -->
    <span *ngIf="!adminActive">
      <fa-icon [icon]="faCircle" class="iconOn ml-3"></fa-icon> {{ user.userName }}
    </span>
  </li>
</ul>

<h3 class="ml-1">Absent ({{ userOff.length }})</h3>
<ul class="ulOff">
  <li *ngFor="let user of userOff">
    <!-- if admin -->
    <a routerLink="userDetail/{{ user.userId }}/{{ currentDate }}" *ngIf="adminActive">
      <fa-icon [icon]="faCircle" class="iconOff ml-3"></fa-icon> {{ user.userName }}
    </a>
    <!-- if not admin -->
    <span *ngIf="!adminActive">
      <fa-icon [icon]="faCircle" class="iconOff ml-3"></fa-icon> {{ user.userName }}
    </span>
  </li>
</ul>