ul, li {
    list-style: none;
    padding-left: 0;
}
li:hover {
    background-color: rgba(200,200,200,0.6);
}
.iconOn {
    color: forestgreen;
}
.iconOff {
    color: grey;
}
.ulOff {
    opacity: 0.4;
}