<div class="container">
    <h3 mat-dialog-title>User id_user: {{data.id_user}}</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="id_user" [(ngModel)]="data.id_user" name="id_user" maxlength="3" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/3</mat-hint>
        </mat-form-field>
      </div>
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="prenom_user" [(ngModel)]="data.prenom_user" name="prenom_user" maxlength="30" required></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/30</mat-hint>
        </mat-form-field>
      </div>
  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="nom_user" [(ngModel)]="data.nom_user" name="nom_user" maxlength="30" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/30</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="mail_user" [(ngModel)]="data.mail_user" name="mail_user" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="année (en chiffre)" [(ngModel)]="data.id_group" name="id_group" maxlength="1" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/1</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="id_role" [(ngModel)]="data.id_role" name="id_role" maxlength="1" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/1</mat-hint>
        </mat-form-field>
      </div>
  
      <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="card" [(ngModel)]="data.card" name="card" maxlength="20" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            <mat-hint align="end">{{inputstate.value?.length || 0}}/20</mat-hint>
          </mat-form-field>
      </div>
  
  
      <div mat-dialog-actions>
        <button mat-button [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
